@import "../../_styles/common/index.scss";

$button-cls: #{$root-prefix-cls}-button;

.#{$button-cls} {
  padding: 8px 15px;
  background-color: $white;
  border: 1px solid $gray-100;
  color: $black;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 3px $gray-300;
  }

  &--round {
    border-radius: 5px;
  }

  &--ghost {
    background-color: $gray-300;
    border-color: $gray-300;
    color: white;
  }
  &--primary {
    background-color: $blue-600;
    border-color: $blue-600;
    color: white;
  }
  &--danger {
    background-color: $red-600;
    border-color: $red-600;
    color: white;
  }

  &--size {
    &-sm {
      padding: 5px 10px;
    }
    &-lg {
      padding: 11px 18px;
    }
  }
}
