$black: #222222;
$white: #fafafa;

$gray-300: #c2c2c2;
$gray-600: #818181;
$gray-900: #606060;

$blue-300: #69c0ff;
$blue-600: #1890ff;
$blue-900: #0050b3;

$red-300: #ff7c5c;
$red-600: #ff3612;
$red-900: #ef2707;
